@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Base Styles */
body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: #1b1523;
  color: #fff;
}